In [0]:
import pandas as pd
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)

In [2]:
data.head(10)

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
5  A2JFOHC9W629IE  B00000JBLH  ...     1011744000  01 23, 2002
6  A38NELQT98S4H8  B00000JBLH  ...     1168992000  01 17, 2007
7   AA8M6331NI1EN  B00000JBLH  ...     1384387200  11 14, 2013
8  A25C2M3QF9G7OQ  B00000JBLU  ...     1291680000   12 7, 2010
9  A1RTVWTWZSIC94  B00000JBLU  ...     1385942400   12 2, 2013

[10 rows x 9 columns]

In [0]:
dF = pd.DataFrame(data)

In [0]:
import re

In [0]:
def notbBgG(l):
    b = re.findall(r'\b(?!b|B)\b\S+', l)
    listToStr = ' '.join([str(elem) for elem in b])
    bG = re.findall(r'\b(\w*[^gG])\b[\W\s$]', listToStr)
    return bG

In [0]:
dF['reviewText_NOTBG'] = dF['reviewText'].apply(notbBgG)

In [12]:
dF['reviewText_NOTBG'].head()

0    [I, my, first, HP12C, in, about, 1984, or, so,...
1    [WHY, THIS, REVIEW, I, feel, very, obliged, to...
2    [I, have, an, HP, 48GX, that, has, for, more, ...
3    [I, ve, started, more, finance, stuff, recentl...
4    [For, simple, calculations, and, discounted, c...
Name: reviewText_NOTBG, dtype: object

In [13]:
dF['reviewText'][2]

'I have an HP 48GX that has been kicking for more than twenty years and an HP 11 that is more than 25 years old and still flawless.  I have had this 12C for about 18 months and the number 5 key is already giving me trouble (have to press hard for it to register).  No drops, no abuse.  The overall feel of this new HP is cheaper plastic.  The keys feel hollow and light.  The available functions are great.  This is a classic calculator.  But the functions are no good if the keys stop working...'

In [14]:
dF['reviewText_NOTBG'][2]

['I',
 'have',
 'an',
 'HP',
 '48GX',
 'that',
 'has',
 'for',
 'more',
 'than',
 'twenty',
 'years',
 'and',
 'an',
 'HP',
 '11',
 'that',
 'is',
 'more',
 'than',
 '25',
 'years',
 'old',
 'and',
 'still',
 'flawless',
 'I',
 'have',
 'had',
 'this',
 '12C',
 'for',
 'about',
 '18',
 'months',
 'and',
 'the',
 'number',
 '5',
 'key',
 'is',
 'already',
 'me',
 'trouble',
 'have',
 'to',
 'press',
 'hard',
 'for',
 'it',
 'to',
 'register',
 'No',
 'drops',
 'no',
 'abuse',
 'The',
 'overall',
 'feel',
 'of',
 'this',
 'new',
 'HP',
 'is',
 'cheaper',
 'plastic',
 'The',
 'keys',
 'feel',
 'hollow',
 'and',
 'light',
 'The',
 'available',
 'functions',
 'are',
 'great',
 'This',
 'is',
 'a',
 'classic',
 'calculator',
 'the',
 'functions',
 'are',
 'no',
 'good',
 'if',
 'the',
 'keys',
 'stop']